body{
    background-image: url(https://educationbusinessuk.net/sites/default/files/math2.jpg );
}
.name{
    font-weight: bold;
   
}
.container{
    text-align: center;
}
.container1{
    width: 30%;
    /* border: 5px double black; */
    margin-left: 35%;
    margin-top: 1%;
    display: inline-block;
    background-color: gray;
   
   
    
}
#first{
    height: 70px;
    width:97%;
    /* border: 2px solid green; */
    /* box-shadow: 2px 3px 2px #7b2020; */
   font-size: 30px;
   text-align:end;
   margin-left: 1%;
   margin-top: 2%;
   background-color: black;
   border: none;
   color: #fff;
  
   
}
button{
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 98px;
    margin-left:1%;
    border-radius: 10%;
    color: #fff;
    background-color: black;
    box-shadow: 2px 2px 10px gray;
}
.bigtd:hover{
    transform: scale(1.1);
}
.equal{
    width: 97%;
    margin-top: 1%;
    border-radius: 0%;
}
@media screen and (max-width:1246px){
    button{
        width: 87px;
    }
}
@media screen and (max-width:1200px){
    button{
        width: 84px;
    }
}
@media screen and (max-width:1141px){
    button{
        width: 79px;
    }
}
@media screen and (max-width:1000px){
    button{
        width: 68px;
    }
}
@media screen and (max-width:801px){
    button{
        width: 68px;
    }
}
@media screen and (max-width:400px){
    .container1{
        height: 800px;
    }
button{
    height: 125px;
}
.equal{
    height: 100px;
}
#first{
    height: 173px;
}
}